{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h3 class="my-0 font-weight-normal">{{ object.name|upper }}</h3>
            </div>
            <img src="{{ object.photo | media_filter }}">
            <div class="card-body">

                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <u style="font-size:25px">Категория: {{ object.category }}</u>
                    <li style="text-align:justify">{{ object.description }}</li>

                    <li>Дата создания: {{ object.created_at |date:"d M Y - H:m"}}</li>
                    <li>Дата изменения: {{ object.updated_at | date:"d M Y - H:m" }}</li>
                </ul>
                <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                    <u class="card-title pricing-card-title" style="font-size:25px">{{ object.price }} р</u>
                </ul>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" href="{% url 'catalog:prod_list'%}" role="button">Вернуться</a>
                    <a class="btn btn-warning " href="{% url 'catalog:prod_update' object.pk %}"
                       role="button">Редактировать</a>
                    <a class="btn btn-danger " href="{% url 'catalog:prod_delete' object.pk %}"
                       role="button">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}