{% extends 'catalog/home.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                    </div>
                    <p class="card-text">Вы действительно хотите удалить "{{ object.name|lower }}" из списка? </p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {% if perms.catalog.delete_product or user == prod.owner %}
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                        {% endif %}
                        <a class="btn btn-primary btn-sm" href="{% url 'catalog:prod_list'%}" role="button">Отменить</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}